<h1>New Memo</h1>
<form action="/new" method="POST">
  <p>メモタイトル</p>
  <input required type="text" name="title">
  <p>メモ内容</p>
  <textarea required name="content" cols="100" rows="5"></textarea><br>
  <input type="submit" name="追加" value="追加" class="submit_button">
</form>
<a href="/">トップページ</a>
