<h1>Edit Memo</h1>
<form method="post" action="/updates/<%= @memo["id"] %>">
    <p>メモタイトル</p>
    <input type="text" name="title" placeholder=" <%= @memo["title"] %>" class="edit_title">
    <p>メモ内容</p>
    <textarea name="content" class="edit_content" cols="100" rows="5" placeholder="<%= @memo["content"] %>"></textarea>
  <input type="hidden" name="_method" value="PATCH"><br>
  <input type="submit" value="内容更新" class="submit_button"></button>
</form>

